@font-face {
    font-family: 'Kica';
    src: url(../assets/fonts/PERSONAL-USE-Kica-Light.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
