$main-font: 'Syne';
$main-color: #404756;
$light-color: #e9efff;
$accent-color: #0088a1;

// for background animation
$background1: #00575d;
$background2: #002d73;
$dec1: #ff1400;
$dec2: rgb(100, 220, 255);
$dec3: #b4042c;
$dec4: #e6f5ff;
$dec5: #ffb380;

$circle-size: 100%;
